<div class="panel panel-primary">
  <div class="panel-heading">
      {{pageTitle}}
  </div>
  <div class="panel-body"  >
      <div class="row" >
          <img src="./assets/images/uvt.png"
               class="img-responsive center-block"
               style="width:600px; margin-top:0px "/>
      </div>
      <div class="row"  >
          <div class="text-center">MP2L</div>
          <h3 class="text-center">MINI PROJET 03</h3>

          <div class="text-center">Mars 2018</div>
          <div class="text-center">
              <a href="http://www.uvt.rnu.tn/" target="_blank">Visiter le site l'UVT de Tunis</a>
          </div>
      </div>
  </div>
</div>
